# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/tmp/
temp/

# Generated MarkDown files
README.html
TODO.html
